@page "/en/checkedIn"

<div class="d-flex flex-column w-100 h-100">
    <div class="d-flex w-100" style="height: 45%">
        <div class="w-50 ms-4 mt-4 me-4 mb-4">
            <RadzenCard class="d-flex flex-column h-100" Style="background-color: #40A535; color: white">
                <h1>You have successfully checked in!</h1>
                @if (Rooms != null && Rooms.Any() && Rooms.Count == 1)
                {
                    <h3>Your room is:</h3>
                    <div class="room-container">
                        <div class="room room-single d-flex align-items-center justify-content-center">
                            <div style="font-size: xxx-large">
                                @Rooms.First()
                            </div>
                        </div>
                    </div>
                }
                else if (Rooms != null && Rooms.Any() && Rooms.Count > 1)
                {
                    <h3>Your rooms are:</h3>
                    <div class="@(Rooms.Count > 4 ? "room-container-small" : "room-container")">
                        @foreach(var room in Rooms)
                        {
                            <div class="@(Rooms.Count > 4 ? "room-small" : "room")">
                                @room
                            </div>
                        }
                    </div>
                }
            </RadzenCard>
        </div>
        <div class="w-50 ms-0 mt-4 me-4 mb-4">
            <RadzenCard class="d-flex h-100" Style="background-color: #1e1e1e; color: white">
                <h1>We wish you a pleasant stay!</h1>
                <div class="mt-auto"></div>
                <h3>Do you have any questions or would you like to contact us?</h3>
                <div class="text">Our staff in the restaurant will be happy to help you, or you can reach us on +43 7723 20614</div>
            </RadzenCard>
        </div>
    </div>
    <div class="d-flex w-100" style="height: 45%">
        <div class="w-50 ms-4 mt-0 me-4 mb-4">
            <video class="checkInVideo" loop autoplay muted>
                <source src="/videos/video.mp4" type="video/mp4">
                There was an error loading the video.
            </video>
        </div>
        <div class="w-50 ms-0 mt-0 me-4 mb-4">
            <RadzenCard class="d-flex flex-column h-100" Style="background-color: #1e1e1e; color: white">
                <h3>Breakfast times</h3>
                <div class="small-heading mb-2">07.00 AM to 09.30 AM</div>
                <h3>Restaurant opening hours</h3>
                <div class="d-flex flex-column">
                    <div class="small-heading mb-1">Tuesday to Friday</div>
                    <div class="text mb-1">5.00 PM to 10.30 PM (kitchen closes 10.00 PM)</div>
                    <div class="small-heading mb-1">Saturdays</div>
                    <div class="text mb-1">11.00 AM to 2.00 PM and 5.00 PM to 10.30 PM Uhr (kitchen closes 10.00 PM)</div>
                    <div class="small-heading mb-1">Sundays and holidays</div>
                    <div class="text">11.00 AM to 2.00 PM and 5.00 PM to 10.00 PM (kitchen closes 9.00 PM)</div>
                    <div class="small-heading fw-bold">Mondays closed</div>
                </div>
            </RadzenCard>
        </div>
    </div>
    <div class="d-flex w-100 align-items-center justify-content-center px-4 pb-4" style="height: 10%">
        <RadzenButton class="w-100 h-100" Style="background-color: #1e1e1e" Click="@BackToHome">
            Back to home page!
        </RadzenButton>
    </div>
</div>
