@page "/en"
@page "/en/home"

<PageTitle>checkin4you</PageTitle>

<div class="d-flex flex-column align-items-center justify-content-center text-white fw-bold vh-100 bg">
    <h1 class="mt-5">Welcome!</h1>
    <img src="images/logo.png" class="logo" />
    <RadzenButton Style="background-color: #9e2b25; width: 300px; min-width: 300px; height: 100px; min-height: 100px;"
                  class="mt-4"
                  Click="@NavigateToCheckinPage">
        Check-in now!
    </RadzenButton>
</div>