@page "/checkedIn"

<div class="d-flex flex-column w-100 h-100">
    <div class="d-flex w-100 h-50">
        <div class="w-50 p-4">
            <RadzenCard class="d-flex flex-column" Style="background-color: #40A535; color: white">
                <h1>Sie haben erfolgreich eingecheckt!</h1>
                @if (Rooms != null && Rooms.Any() && Rooms.Count == 1)
                {
                    <div>Ihr Zimmer ist @Rooms.First()</div>
                }
            </RadzenCard>
        </div>
        <div class="w-50 p-4">
            Kleiner Italiener Info
        </div>
    </div>
    <div class="d-flex w-100 h-50">
        <div class="w-50 p-4">
            <video class="checkInVideo" loop autoplay muted>
                <source src="/videos/video.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="w-50 p-4">
            Checkin Info
        </div>
    </div>
</div>
