@page "/"
@page "/home"

<PageTitle>checkin4you</PageTitle>

<div class="d-flex flex-column p-5 vh-100">
    <div class="h-75 d-flex flex-column align-items-center justify-content-center">
        <h1>Herzlich willkommen!</h1>
        <h1>Ristorante Pizzeria Pension</h1>
        <RadzenImage Path="images/logo.png" />
    </div>
    <div class="h-25 d-flex justify-content-center">
        <RadzenButton Style="background-color: #9e2b25; height: 50%; width: 25%;"
                      Click="@NavigateToCheckinPage">
            Jetzt einchecken!
        </RadzenButton>
    </div>
</div>
