.sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
    background-color: rgb(30, 30, 30);
    width: 250px;
    transition: width 500ms;
}

.sidebar-bottom {
    position: absolute;
    bottom: 0;
}

.label {
    color: white;
    margin-left: 1rem;
    margin-right: 1rem;
}

.collapsed {
    width: 77px;
    min-width: 72px;
}

.nav-link:hover {
    cursor: pointer;
}
