.checkInVideo {
    height: 100%;
    width: 100%;
    object-fit: fill;
    border-radius: 0.35rem
}

.room-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 70%;
    max-height: 70%;
    justify-content: center;
    align-content: center;
}

.room {
    font-size: 1.5rem;
    background-color: #1e1e1e;
    margin: 5px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.small-heading {
    font-size: 1rem;
}

.text {
    font-size: 1rem;
}

.room-small {
    font-size: 1rem;
    background-color: #1e1e1e;
    margin: 2.5px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}

.room-container-small {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 50%;
    justify-content: center;
    align-content: center;
}

@media screen and (max-width: 1000px) {
    h1 {
        font-size: 2rem;
        word-break: break-word;
    }
}

@media screen and (max-width: 1330px) {
    .text {
        font-size: 0.75rem;
    }
}